# macOS
.DS_Store

# Secrets
.env

# Yarn
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
.pnp.*

# TypeScript
src/**/*.d.ts
src/**/*.js
src/**/*.js.map
!src/**/*.test.js
!src/**/test.js
